
<nav>
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card w3-hide-small">
     <a routerLink="/home" class="w3-bar-item w3-button">    Car Pool</a>
    <div class="w3-right ">
      <a routerLink="/home" class="w3-bar-item w3-button">Home</a>
      <a  routerLink="/register" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Register</a>
      <a  routerLink="/login" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">User Login</a>
      <a  routerLink="/adminlogin" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Company Login</a>
    </div>
  </div>
</div>

</nav>