<div class="container">
    <div class="mt-5 mx-5 row mb-4">
        <div class="col-md-3">
            <input type="text" class="form-control custom-input" placeholder="source" [(ngModel)]="searchParams.source">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control custom-input" placeholder="Destination" [(ngModel)]="searchParams.destination">
        </div>
        <div class="col-md-3">
            <input type="date" class="form-control custom-input" [(ngModel)]="searchParams.date">
        </div>
        <div class="col-md-3 d-flex justify-content-between">
            <button (click)="searchRides()" class="rounded-pill button-search btn btn-block">
                <span class="pi pi-search"></span> <i class="fa fa-search" aria-hidden="true"></i>

            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4" *ngFor="let cab of filteredRides">
                        <div class="card h-100 shadow">
                <div class="card-body">
                    <div class="row g-0">

                        <div class="image col-md-5">
                            <img src="{{ rides }}" alt="{{ rides }}" class="card-img-top styled-image" style="height: 200px; object-fit: cover;">
                            <h5 class="card-title "> {{cab.driverName}}</h5> 
                        </div>
                        <div class=" info col-md-7">

                            <p class="card-text destination"><span class="badge bg-secondary">From:</span> {{cab.source}} | <span class="badge bg-secondary">To:</span> {{ cab.destination }}</p>
                            <p class="card-text">
                                <span class="badge bg-secondary">Date:</span> {{ cab.date }} | <span class="badge bg-secondary">Time:</span> {{ cab.time }}
                            </p>
                            <p class="card-text">
                                <span class="badge bg-secondary">Price:</span> {{cab.price}} dhs
                            </p>
                            <p class="card-text"><strong>Available Places:</strong> {{cab.places}}</p>
                            <button (click)="searchides(cab.cid)" class="rounded-pill button-search btn btn-block">
                                <span class="pi pi-search"></span> Join
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
