<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>


  <div id="id01" class="modal" style="display: block;">
    <form class="modal-content animate" action="/action_page.php" method="post" style="width:80%">
      <div class="container1">
        <h2>Add New Offer</h2>
  
        <label for="fullName"><b>Driver Name</b></label>
        <input class="form-control" [(ngModel)]="cabC.driverName" type="text" placeholder="Enter Nom et prénom du conducteur" name="fullName" required>
        <label for="fullName"><b>Driver Mobile</b></label>
        <input class="form-control" [(ngModel)]="cabC.driverMob" type="text" placeholder="Enter Nom et prénom du conducteur" name="fullName" required>
        <label for="companyName"><b>company name</b></label>
        <input class="form-control" [(ngModel)]="cabC.companyName" type="text" placeholder="Enter Marque de voiture" name="companyName" required>
  
        <label for="employeeId"><b>Destination</b></label>
        <input class="form-control" type="text" [(ngModel)]="cabC.destination" placeholder="Enter Destination" name="destination" required>
  
        <label for="email"><b>Source</b></label>
        <input class="form-control" type="text" [(ngModel)]="cabC.source" placeholder="Enter Depart" name="depart" required>
  
        <label for="date"><b>Date</b></label>
        <input class="form-control" type="date" [(ngModel)]="cabC.date" name="date" required>
        <label for="password"><b>Time</b></label>
        <input class="form-control" type="text" [(ngModel)]="cabC.time" placeholder="Enter Prix de place" name="prixPlace" required>

        <label for="nbrPlaces"><b>Places</b></label>
        <input class="form-control" type="number" [(ngModel)]="cabC.places" placeholder="Enter Nbr de places" name="nbrPlaces" min="1" max="5" required>
  
        <label for="password"><b>Price</b></label>
        <input class="form-control" type="text" [(ngModel)]="cabC.price" placeholder="Enter Prix de place" name="prixPlace" required>
  
        <button (click)="createCab()">Submit</button>
      </div>
  
      <div class="container1" style="background-color:#f1f1f1">
        <button type="button" routerLink="" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>
  
</body>
</html>
