
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">  
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary"   width="110">
              <div class="mt-3">
                <h4>John Doe</h4>
                <p class="text-secondary mb-1">Full Stack Developer</p>
                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                <button class="btn btn-primary">Follow</button>
                <button class="btn btn-outline-primary">Message</button>
              </div>  
            </div>
            <hr class="my-4">
                <div class="card-body">
                  <ul class="list-group">
                    <li class="list-group-item text-muted" > History <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right" (click)="toggleFormVisibility()"><span class="pull-left"><strong> <a>carpooling offers created
                    </a></strong></span> 125</li>
                    <li class="list-group-item text-right" (click)="toggleFormVisibility()"><span class="pull-left"><strong> <a>activities launched
                    </a></strong></span> 13</li>
                    <li class="list-group-item text-right" (click)="toggleFormVisibility()"><span class="pull-left"><strong><a>Total Posts </a></strong></span> 37</li>
                    <li class="list-group-item text-right" (click)="toggleFormVisibility()" ><span class="pull-left"><strong> <a>Followers </a></strong></span> 78</li>
                  </ul>
               </div>
              </div>
        </div>
      </div>
      <div class="col-lg-8">

        <br>
        <div class="card">
          <div class="card-body" *ngIf="showForm"> 
           
           
            <form class="form" action="##" method="post" id="registrationForm">
              <div class="form-group">
            
                <div class="col-xs-6">
                  <label for="first_name">
                    <h4>First name</h4>
                  </label>
                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" value="Halima"
                    title="enter your first name if any.">
                </div>
              </div>
              <div class="form-group">
            
                <div class="col-xs-6">
                  <label for="last_name">
                    <h4>Last name</h4>
                  </label>
                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" value ="Masmar"
                    title="enter your last name if any.">
                </div>
              </div>
              <div class="form-group">

                <div class="col-xs-6">
                  <label for="phone">
                    <h4>Phone</h4>
                  </label>
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" value="064583389"
                    title="enter your phone number if any.">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6">
                  <label for="mobile">
                    <h4>Mobile</h4>
                  </label>
                  <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number"
                    title="enter your mobile number if any.">
                </div>
              </div>
              <div class="form-group">
              
                <div class="col-xs-6">
                  <label for="email">
                    <h4>Email</h4>
                  </label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com"
                    title="enter your email.">
                </div>
              </div>
              <div class="form-group">
              
                <div class="col-xs-6">
                  <label for="email">
                    <h4>Location</h4>
                  </label>
                  <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                </div>
              </div>
             
            
              <div class="form-group">
                <div class="col-xs-12">
                  <br>
                  <button  class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                  <button class="btn btn-outline-primary" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                </div>
              </div>
            </form>
      
          </div>
        </div>
   
          <br>
          <br>
          <div class="container"  *ngIf="showCard">
          
            <div class="row justify-content-center">
              <div class="col-md-6 mb-4" *ngFor="let ride of filteredRides; let even = even">
                <div class="card h-100 shadow">
                  <div class="card-body">
                    <div class="row g-0">
                      <div class="image col-md-5">
                        <img src="{{ ride.imageUrl }}" alt="{{ ride.driverName }}" class="card-img-top styled-image"
                          style="height: 200px; object-fit: cover;">
                        <h5 class="card-title "> {{ ride.driverName }}</h5>
                      </div>
                      <div class=" info col-md-7">
          
                        <p class="card-text destination"><span class="badge bg-secondary">From:</span> {{ ride.departure }} |
                          <span class="badge bg-secondary">To:</span> {{ ride.destination }}
                        </p>
                        <p class="card-text">
                          <span class="badge bg-secondary">Date:</span> {{ ride.date }} | <span
                            class="badge bg-secondary">Time:</span> {{ ride.time }}
                        </p>
                        <p class="card-text">
                          <span class="badge bg-secondary">Price:</span> {{ ride.price }} dhs
                        </p>
                        <p class="card-text"><strong>Available Places:</strong> {{ ride.availablePlaces }}</p>
                        <button class="btn btn-primary">
                          <span class="pi pi-search"></span> delete
                        </button>
                        <button class="btn btn-outline-primary">edit</button>
                          <button class="btn btn-outline-primary" (click)="toggleFormVisibility()">
                            <span class="pi pi-arrow-left"></span> Retour
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
   
  </div>
</div>